
.main { 
    display: flex;
    flex-wrap: wrap;
}



.px {
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.79);
    border: 1px solid #00000014;
}

* {
    padding: 0;
    margin: 0;
}



.size-btn {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: none;
    background: orange;
}

.size-btn:hover {
    background: rgb(207, 134, 0);
    transition: .5s;
}

.tools {
    background: #762a2a;
    align-items: center;
    gap: 20px;
    z-index: 100;
    position: absolute;
    right: 100px;
    top: 50px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plus, .minus {
    font-size: 24px;
}


.count {
    color: white;
    
}